/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



body{
    background: url('https://media.istockphoto.com/id/2210688897/photo/ux-ui-design-web-and-application-user-design-concepts-web-design-application-design-user.jpg?s=1024x1024&w=is&k=20&c=9N6NIm5jxicoFvBeFNJnkafdNQM8mhBbU0-YWnLyW2s=') no-repeat fixed ;
    background-size: cover;

}